<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10" style="margin-top:20px;">
      <div class="panel panel-primary">
         <div class="panel-heading text-center">
           <h2 class="title" style="color:#fff;"> Bienvenue {{ user.last_name }}</h2>
           <p>Ceci est votre dashboard ajouter, organiser et suiver l'avancer de vos dossier.</p>
           <span class="glyphicon glyphicon-home" style="font-size:90px;margin-top:10px;"></span>

          <div class="text-right">
            <a style="color:#fff;" href="#"><span class="glyphicon glyphicon-question-sign" style="font-size:30px"></span> aide</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-2" id="account" style="margin-top:20px;cursor:pointer;">
      <div class="panel panel-info">
         <div class="panel-heading text-center">
            <span class="glyphicon glyphicon-cog" style="font-size:70px;margin-top:10px;" title="Paramètres du compte"></span>
          </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-2" ng-click="toggleModal()" style="margin-top:20px;cursor:pointer;" title="Ajouter une annonce">
      <div class="panel panel-success">
         <div class="panel-heading text-center">
            <span class="glyphicon glyphicon-plus-sign" style="font-size:70px;margin-top:10px;"></span>
          </div>
      </div>
    </div>
    <modal title="Ajouter une annonce" visible="showModal">
      <form role="search" class="form-inline ng-pristine ng-valid" ng-controller="dashboardCtrl">
      <div class="">
         <div class="input-group input-group-lg">
          <input required="required" class="form-control search-input text-center" size="50" placeholder="Entrer l'url de votre annonce" ng-model="offer_url" type="text">
           <span class="input-group-btn">
             <input class="btn btn-primary btn-lg btn-block" type="submit" value="ok"  data-ng-click="addOffer(offer)"><span class="glyphicon glyphicon-search"></span>

           </span>
         </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </form>
    <div id="rect"></div>
    <br/>
    <p>Vous n'avez l'url de l'annonce ou elle ne fonctionne pas correctement, ajouter manuellement grace au lien ci-dessous</p>
    <a data-ng-click="hideModal()" title="Ajouter">Ajouter Manuellement</a>
    </modal>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 content">

        <table class="table table-hover">
          <tbody>
            <tr>
                <th>Agence</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Prix</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
            <div >
            <tr class="page" ng-repeat="offer in offers">
              <td>{{ offer.agency }}</td>
              <td>{{ offer.rooms }} pièces, {{ offer.surface }} m2</td>
              <td>{{ offer.city }}</td>
              <td>{{ offer.cost }}</td>
              <td >
                <span style="color:rgb(85, 189, 87);" ng-if="offer.active == true" class="glyphicon glyphicon-ok"></span>
                <span style="color:rgb(233, 83, 83);" ng-if="offer.active != true" class="glyphicon glyphicon-remove"></span>
              </td>
              <td>

                <a href="#/dossier/{{ $index }}" title="Modifier"><i class="glyphicon glyphicon-pencil"></i></a>
                <button type="button" class="btn btn-link" title="Supprimer" data-ng-click="deleteOffer(offer.id)"><i style="color:rgb(233, 83, 83);" class="glyphicon glyphicon-remove"></i></button>

              </td>
            </tr>
          </tbody>
        </table><!-- end .table .table-hover -->

    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).on('click', '#account', function() {
    window.location.href='#/account';
  });

  var value = $('select').find(':selected').data('info');
  $('.menu i').removeClass();
  $('.menu i').addClass('glyphicon glyphicon-'+value);

  function displayStatut(id,element)
  {
    var value = $(element).find(':selected').data('info');
    $('#icon-'+id).removeClass();
    $('#icon-'+id).addClass('glyphicon glyphicon-'+value);
  }
</script>
