<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10" style="margin-top:20px;">
      <div class="panel panel-primary">
         <div class="panel-heading text-center">
           <h2 class="title" style="color:#fff;"> Bienvenue Name</h2>
           <p>Ceci est votre dashboard ajouter, organiser et suiver l'avancer de vos dossier.</p>
           <span class="glyphicon glyphicon-home" style="font-size:90px;margin-top:10px;"></span>

          <div class="text-right">
            <a style="color:#fff;" href="#"><span class="glyphicon glyphicon-question-sign" style="font-size:30px"></span> aide</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-2" id="account" style="margin-top:20px;cursor:pointer;">
      <div class="panel panel-info">
         <div class="panel-heading text-center">
            <span class="glyphicon glyphicon-cog" style="font-size:70px;margin-top:10px;" title="Paramètres du compte"></span>
          </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-2" ng-click="toggleModal()" style="margin-top:20px;cursor:pointer;" title="Ajouter une annonce">
      <div class="panel panel-success">
         <div class="panel-heading text-center">
            <span class="glyphicon glyphicon-plus-sign" style="font-size:70px;margin-top:10px;"></span>
          </div>
      </div>
    </div>
    <modal title="Ajouter une annonce" visible="showModal">
      <form role="search" class="form-inline ng-pristine ng-valid" method="get" action="/">
      <div class="">
         <div class="input-group input-group-lg">
          <input required="required" class="form-control search-input text-center" size="50" placeholder="Entrer l'url de votre annonce" type="text">
           <span class="input-group-btn">
             <button class="btn btn-primary btn-lg" type="button"><span class="glyphicon glyphicon-search"></span></button>
           </span>
         </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </form>
    </modal>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 content">

        <table class="table table-hover">
          <tbody>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
            <tr class="page">
                <td>Paris 2ème</td>
                <td>2 pièces, 45m2</td>
                <td>21/02/2016 à 16:13:22</td>
                <td>
                  <div class="input-group col-xs-5 col-xs-offset-4">
                    <select id="lunch" name="statut" class="selectpicker form-control"  onclick="displayStatut('1',this)" title="">
                      <option value="1" data-info="info-sign" >Contact agence </option>
                      <option value="2" data-info="eye-open" selected="selected">Visite</option>
                      <option value="3" data-info="hourglass">En attente</option>
                      <option value="4" data-info="ok-sign">Valider</option>
                      <option value="5" data-info="remove-sign">Refuser</option>
                    </select>
                    <span class="input-group-addon menu"><i id="icon-1" style="font-size: 20px;" class="glyphicon glyphicon-remove-sign"></i></span>
                  </div>
                </td>
                <td>
                  <a href="#" title="Modifier"><i class="glyphicon glyphicon-pencil"></i></a>
                  <a href="#" onclick="return deleteConfirm()" title="Supprimer"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            <tr class="page">
                <td>Paris 8ème</td>
                <td>2 pièces, 38m2</td>
                <td>22/02/2016 à 18:50:36</td>
                <td>
                  <div class="input-group col-xs-5 col-xs-offset-4">
                    <select name="statut" class="selectpicker form-control" onclick="displayStatut('2',this)" title="">
                      <option value="1" data-info="info-sign" >Contact agence </option>
                      <option value="2" data-info="eye-open">Visite</option>
                      <option value="3" data-info="hourglass" selected="selected">En attente</option>
                      <option value="4" data-info="ok-sign">Valider</option>
                      <option value="5" data-info="remove-sign">Refuser</option>
                    </select>
                    <span class="input-group-addon menu"><i id="icon-2" style="font-size: 20px;" class="glyphicon glyphicon-remove-sign"></i></span>
                  </div>
                </td>
                <td>
                  <a href="#" title="Modifier"><i class="glyphicon glyphicon-pencil"></i></a>
                  <a href="#" onclick="return deleteConfirm()" title="Supprimer"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
          </tbody>
        </table><!-- end .table .table-hover -->

    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).on('click', '#account', function() {
    window.location.href='#/account';
  });

  var value = $('select').find(':selected').data('info');
  $('.menu i').removeClass();
  $('.menu i').addClass('glyphicon glyphicon-'+value);

  function displayStatut(id,element)
  {
    var value = $(element).find(':selected').data('info');
    $('#icon-'+id).removeClass();
    $('#icon-'+id).addClass('glyphicon glyphicon-'+value);
  }
</script>
