<div id="intro" class="login-back">
  <div class="container">
    <div class="row " style=''>
        <div class="col-md-4 col-md-offset-4">
            <h2 class="title">Connexion</h2>
            <div class="login-panel panel-default">

                <div class="panel-body">
                  <form class="col-md-12" ng-controller="loginCtrl">
                      <div class="form-group">
                          <input class="form-control input-lg" placeholder="Email" autocomplete="off" size="20" id="user_login" name="email" type="text" ng-model="email">
                      </div>
                      <div class="form-group">
                          <input class="form-control input-lg" placeholder="Mot de passe" autocomplete="off" size="20" id="user_pass" name="password" type="password" ng-model="password">
                      </div>
                      <div class="form-group text-center">
                          <input class="btn btn-primary btn-lg btn-block" type="submit" value="Me connecter"  data-ng-click="getUser(user)">
                      </div>


                  </form>
                  <span><a href="#/password" class="btn btn-link">Mot de passe oublié ?</a></span>
                  <span class="pull-right"><a href="#/signup">S'inscrire</a></span>
                  <div id="rect"></div>
                </div>
          </div>
          <div class="col-md-12">
            <p class="condition">En vous inscrivant, vous acceptez les <a href="/tos" class="legal-link" target="_blank">Conditions d'utilisation</a> et la <a href="/privacy" class="legal-link" target="_blank">Politique de confidentialité</a>.</p>
          </div>
      </div>

    </div>
  </div>
</div>
