<div id="intro" class="login-back">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Réinitialisation du mot de passe</h2>
      <div class="col-md-4 col-md-offset-4">
          <form role="form" ng-controller="LostpwdCtrl">
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Enter votre adresse email" />
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" data-ng-click="sendPwd()" value="rechercher">
          </form>
          <span class="pull-right"><a href="#/login">Se connecter</a></span>
      </div>
      <div class="col-md-4 col-md-offset-4">
      <div id="rect"></div>
    </div>
    </div>
  </div>
</div>
