<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-xs-12 col-md-12" style="margin-top:20px;">
      <div class="panel panel-success">
         <div class="panel-heading text-center">
           <h2 class="title" style="color:#fff;"> Edition Password</h2>
           <p>Les informations de connection</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 content">
      <form class="form-horizontal" role="form" ng-controller="LostpwdCtrl">
        <div class="form-group">
        </div>
        <div class="form-group">
          <label class="control-label col-md-2 col-md-offset-2" for="id_email">Nouveau Password</label>
          <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" id="password" name="password" placeholder="nouveau password" ng-model="offer.password" type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div ng-if="offer.id != false" class="col-md-offset-4 col-md-3">
            <button class="btn btn-success" type="submit" data-ng-click="setPassword()">Modifier</button>
          </div>
            <div class="col-md-3">
              <a href="#/dashboard" class="btn btn-danger" style="float:right">Retour</a>
            </div>
          </div>
        </form>
        <div class="col-md-12">
                <div id="rect"></div>
              </div>
    </div>
  </div>
</div>
