<div id="intro-bck" class="login-back">
  <div class="container">
    <div class="row " style=''>
        <div class="col-md-4 col-md-offset-4">
            <h2 class="title">Inscription</h2>
            <div class="social-logins">
    					<span class="line"></span>
    					<span class="or">or</span>
    					<button class="btn" ng-click="signUpWithOAuth('github')">
    						<span><i class="icon-github"></i> S'incrire avec Facebook</span>
    					</button>
    				</div>
            <div class="login-panel panel-default">
                <div class="panel-body">
                  <form class="col-md-12" ng-controller="signupCtrl">
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Email" autocomplete="off" size="20" id="user_email" name="email" type="text" ng-model="email">
                    </div>
                      <div class="form-group">
                          <input class="form-control input-lg" placeholder="Nom d’utilisateur" autocomplete="off" size="20" id="user_login" name="login" type="text" ng-model="login">
                      </div>
                      <div class="form-group">
                          <input class="form-control input-lg" placeholder="Mot de passe" autocomplete="off" size="20" id="user_pass" name="password" type="password" ng-model="password">
                      </div>
                      <div class="form-group">
                          <input class="form-control input-lg" placeholder="Confirmer mot de passe" autocomplete="off" size="20" id="user_confirm-pass" name="confirm-password" type="password" ng-model="password_confirm">
                      </div>
                      <div class="form-group text-center">
                          <input class="btn btn-success btn-lg btn-block" type="submit" value="S'inscrire"  data-ng-click="createUser()">
                      </div>

                      <span class="pull-right"><a href="#/login">Se connecter</a></span>
                  </form>
                </div>
                <div class="col-md-12">
                <div id="rect"></div>
              </div>
          </div>
          <div class="col-md-12">
            <p class="condition">En vous inscrivant, vous acceptez les <a href="/tos" class="legal-link" target="_blank">Conditions d'utilisation</a> et la <a href="/privacy" class="legal-link" target="_blank">Politique de confidentialité</a>.</p>
          <div>
      </div>
    </div>
  </div>
</div>
